* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue";
}

.page_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding-bottom: 44px;
  position: relative;
  /* background-color: aquamarine; */
}

.home_title {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.title {
  font-family: "Manrope";
  font-size: 30px;
  font-weight: 600;
  line-height: 40.98px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.title-green {
  font-size: 30px;
  line-height: 35.16px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(54, 121, 79, 1);
}

.navbar_container {
  margin-right: 56px;
}

.navbar_list {
  display: flex;
  align-items: center;
  gap: 43.27px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.98px;
  letter-spacing: 0em;
  text-align: center;
  list-style-type: none;
}

.navbar_list li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.left-side {
}

.plant {
  position: absolute;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 9px;
  left: 139px;
}

.star {
  position: absolute;
  bottom: 55.16px;
  left: 36px;
}

.spinner {
  position: absolute;
  right: 84px;
  top: 167px;
}

.social-media {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

.fa-brands {
  font-size: 26px;
}

.fa-instagram {
  text-decoration: underline;
  text-decoration-color: rgba(217, 217, 217, 1);
  text-underline-offset: 5px;
}

.line {
  /* position: absolute;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  width: 173px;
  transform: rotate(90deg);
  top: 21px; */
}

.right-side {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 54px;
}

.text-info h1 {
  font-family: "Helvetica";
  font-size: 44px;
  font-weight: 700;
  line-height: 53.72px;
  letter-spacing: 0em;
  gap: 13px;
  align-items: center;
  justify-content: center;
}

.info {
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 1);
}
.buttons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btn {
  width: 196px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(1, 96, 27, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.98px;
  letter-spacing: 0em;
  border-style: none;
  margin-top: 36px;
}
