<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./content.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Content page</title>
  </head>
  <body>

    <div class="content">
        <header>
        <div class="home_title">
          <p class="title">Go<p class="title-green">Green</p></p>
        </div>

        <nav class="navbar_container">
          <ul class="navbar_list">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Plants Care</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>

       
         </header>
         
         <div class="img-container">

            <img class="content-img" src="../../img/annie-spratt-yyXw1lGJypI-unsplash 1.png" alt="content-img">
         </div>

      </div>
  </body>
</html>
